* text=auto !eol
C8oClientSDK[!!-~]Workspace/C8oClientSDK/C8oClientSDK.xcodeproj/project.pbxproj -text
C8oClientSDK[!!-~]Workspace/C8oClientSDK/C8oClientSDK.xcodeproj/xcuserdata/julesg.xcuserdatad/xcschemes/C8oClientSDK.xcscheme -text
C8oClientSDK[!!-~]Workspace/C8oClientSDK/C8oClientSDK.xcodeproj/xcuserdata/julesg.xcuserdatad/xcschemes/xcschememanagement.plist -text
C8oClientSDK[!!-~]Workspace/C8oClientSDK/C8oClientSDK/C8o.swift -text
C8oClientSDK[!!-~]Workspace/C8oClientSDK/C8oClientSDK/C8oClientSDK.h -text
C8oClientSDK[!!-~]Workspace/C8oClientSDK/C8oClientSDK/Info.plist -text
C8oClientSDK[!!-~]Workspace/C8oClientSDK/C8oClientSDKTests/C8oClientSDKTests.swift -text
C8oClientSDK[!!-~]Workspace/C8oClientSDK/C8oClientSDKTests/Info.plist -text
C8oClientSDK[!!-~]Workspace/C8oClientSDKWorkspace.xcworkspace/contents.xcworkspacedata -text
C8oClientSDK[!!-~]Workspace/C8oClientSDKWorkspace.xcworkspace/xcuserdata/julesg.xcuserdatad/UserInterfaceState.xcuserstate -text
C8oClientSDK[!!-~]Workspace/C8oClientSDKWorkspace.xcworkspace/xcuserdata/julesg.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist -text
C8oClientSDK[!!-~]Workspace/TestC8oClientSDK/TestC8oClientSDK.xcodeproj/project.pbxproj -text
C8oClientSDK[!!-~]Workspace/TestC8oClientSDK/TestC8oClientSDK.xcodeproj/xcuserdata/julesg.xcuserdatad/xcschemes/TestC8oClientSDK.xcscheme -text
C8oClientSDK[!!-~]Workspace/TestC8oClientSDK/TestC8oClientSDK.xcodeproj/xcuserdata/julesg.xcuserdatad/xcschemes/xcschememanagement.plist -text
C8oClientSDK[!!-~]Workspace/TestC8oClientSDK/TestC8oClientSDK/AppDelegate.swift -text
C8oClientSDK[!!-~]Workspace/TestC8oClientSDK/TestC8oClientSDK/Base.lproj/LaunchScreen.xib -text
C8oClientSDK[!!-~]Workspace/TestC8oClientSDK/TestC8oClientSDK/Base.lproj/Main.storyboard -text
C8oClientSDK[!!-~]Workspace/TestC8oClientSDK/TestC8oClientSDK/Images.xcassets/AppIcon.appiconset/Contents.json -text
C8oClientSDK[!!-~]Workspace/TestC8oClientSDK/TestC8oClientSDK/Info.plist -text
C8oClientSDK[!!-~]Workspace/TestC8oClientSDK/TestC8oClientSDK/ViewController.swift -text
C8oClientSDK[!!-~]Workspace/TestC8oClientSDK/TestC8oClientSDKTests/Info.plist -text
C8oClientSDK[!!-~]Workspace/TestC8oClientSDK/TestC8oClientSDKTests/TestC8oClientSDKTests.swift -text
