[submodule "Pods/AEXML"]
	path = Pods/AEXML
	url = https://github.com/tadija/AEXML
[submodule "Pods/Alamofire"]
	path = Pods/Alamofire
	url = https://github.com/Alamofire/Alamofire
[submodule "Pods/SwiftyJSON"]
	path = Pods/SwiftyJSON
	url = https://github.com/SwiftyJSON/SwiftyJSON
