<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>C8oSDKTestApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>C8oSDKiOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>C8oSDKiOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>C8oSDKiOSTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>ObjC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Sample05.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>samplebigfiletransfer.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>372612D11DD096F10092EEC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>621CB0161D267252002E0BA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>621CB02C1D2672D4002E0BA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>621CB03F1D26731F002E0BA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>621CB04A1D2694B1002E0BA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>621CB0601D26997F002E0BA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>623C74381C86DBB600E691B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62CD2A461C6207AC009E9F7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62CD2A501C6207AD009E9F7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62CD2A641C620960009E9F7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62CD2A771C620961009E9F7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62CD2A821C620961009E9F7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
